body{
    margin: 0;
    font-family: verdana, sans-serif;
}
.topo .logo{
    text-align: center;
}
.menu{
    background: #68b119;
}
.menu ul{
    text-align: center;
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 10px 20px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}
.destaque{
    display: flex;
    justify-content: center;
}
main{
    padding: 40px;
}
.rodape{
    text-align: center;
    background: #68b119;
    padding: 30px;
    margin-top: 80px;
}
.rodape li{
    display: inline-block;
}
.rodape li a{
    color: #fff;
    text-decoration: none;
}